@font-face {
    font-family: "Norse-Bold";
    src: url("assets/Norse-Bold.otf");
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

#hero {
    position: relative;
    max-width: 40%;
    flex: 1 0 auto;
    /* Make whole image visible. Credit:
    Gustavo Henrique Bruno dos Santos @ https://github.com/gefgu/odin-sign-up-form 
    */
    background-image: url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center center;
    background-size: cover;
}

#hero-body {
    position: absolute;
    top: 12rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: .3rem;
    background-color: rgba(0, 0, 0, 0.4);
}

#hero-logo {
    height: 120px;
    width: auto;
}

#hero-logo-text {
    font-family: "Norse-Bold";
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}

#hero-credit {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0.7;
}

#content {
    flex: 1;
}

